{% extends '::base.html.twig' %}

{% block body %}


<div class="container addSerieForm">

	<form method="post" {{ form_enctype (form) }} >

		{{ form_errors(form) }}

   		<h2>Formulaire d'ajout Episode</h2>
   		<p> Complète ce formulaire et notre équipe se chargera de valider la publication de l'épisode'! </p>

   		<div class="form-group">
            {{ form_label(form.name, "Titre de la série: ") }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.episodeNumber, "Episode n°: ") }}
            {{ form_errors(form.episodeNumber) }}
            {{ form_widget(form.episodeNumber, {'attr':{'class':'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.resume, "Synopsis et détails: ") }}
            {{ form_errors(form.resume) }}
            {{ form_widget(form.resume, {'attr':{'class':'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.diffusionDate, "Date de diffusion: ") }}
            {{ form_errors(form.diffusionDate) }}
            {{ form_widget(form.diffusionDate, {'attr':{'class':'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.image.file, "Affiche de la série: ") }}
            {{ form_widget(form.image.file, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.image.file) }}
        </div>


	{{form_rest(form)}}
	

	
	 <div class="row">
		 <div class="col-lg-2 pull-right">
		 <a href="{{ path('serie_showSeason', {'name':season.serie.name, 'seasonNumber': season.seasonNumber}) }}" class="btn btn-lg btn-danger pull-right">Annuler</a>
         </div>
         <div class="col-lg-1 pull-right">
		 <input type="submit" value="Ajouter" class="btn btn-lg btn-primary"/>
		 </div>
	 </div>
</form>
	
</div>


{% endblock %}