<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} {{'Fishblock, le réseau social incontournable qui parle de nos Séries TV préférées!' | trans}} {%endblock%} </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css')}}"/>
            <link rel="stylesheet" href="{{ asset('css/style.css')}}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset('css/jquery-ui-1.10.0.custom.css')}}" type="text/css"/>

        {% endblock %}
        <script type="text/javascript" src="{{ asset('JQuery/jQuery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('JQuery/jquery-ui-1.9.2.custom.min.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">


    </head>
    <body>
    <header>
        <div class="container">
            <div class="row">

                <div class="col-lg-4">
                    <a href="{{path('homepage')}}"> <img src="{{ asset('img/logoFishblock.jpg')}}" style="width:100%"  /></a>
                </div>

                
                <div class="col-lg-3 search text-right">
                   <form class="navbar-form navbar-right inline-form" role="search" action="{{ path('series_search') }}">
                        <div class="form-group">
                            <span class="glyphicon glyphicon-search"></span>
                            <input type="text" class="form-control " name="q" placeholder="{{'Recherche' | trans}}" value="{{ app.request.get('q') }}">
                        </div>
                    </form>
                </div>

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                <div class="col-lg-3">
                    <p class="text-right username">{{ app.user.firstname }} {{ app.user.lastname }}</p>

                    <a class="logout-btn pull-right" href="{{ path('fos_user_security_logout') }}"> <span class="glyphicon glyphicon-user"> </span> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}  </a>
                </div>

                <div class="col-lg-2">

                    <a href="{{ path ('fos_user_profile_show', {'username': app.user.username} ) }}"><img class="thumbnail pull-right" src="{{asset(app.user.profilePicture.url|default('img/avatar.jpg'))}}" style="width:70%"></a>

                </div>

                {% else %}
                    <div class="col-lg-offset-3 col-lg-2">
                        <a class="login-btn pull-right" href="{{ path('fos_user_security_login') }}"> <span class="glyphicon glyphicon-user"> </span> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    </div>
                {% endif %}
            </div>


            <nav class="navbar navbar-default" id="menu">
              <div class="container-fluid">
                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                      <li> <a href="{{path('homepage')}}" class="accueil">{{'Accueil'|trans}}</a> </li>
                      <li><a href="{{ path ('serie_showCategories')}}" class="series">{{'Séries par genres'|trans}} </a></li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                        <li><a href="{{ path ('fos_user_profile_show', {'username':app.user.username}) }}" class="profil"> {{'Mon activité'|trans}} </a></li>

                    {%endif%}
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
        </div>
    </header>

    <div class="wrap">
        {% block body %}{% endblock %}

    </div>


    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
    {% endblock %}

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">


                    <a href="{{path('serie_legalNotice')}}">{{'Mentions légales'|trans}}</a> - 
                    <a href="mailto:contact-nantes@imie.fr" target="_blank">Contact</a> -
                    <a href="{{path('setLanguage', {'language' : 'fr'})}}"> FR </a>
                    <a href="{{path('setLanguage', {'language' : 'en'})}}"> EN </a>

                </div>
            </div>
        </div>
    </footer>
    </body>
</html>
