<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} Fishblock, le réseau social incontournable qui parle de nos Séries TV préférées!! {%endblock%} </title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" href="{{ asset('css/style.css')}}" type="text/css"/>
        <style type="text/css">
            [class*="col"] { margin-bottom: 10px; }
            img { width: 100%; }
            body { margin-top: 10px; background-image:linear-gradient(white,white, silver); background-repeat: no-repeat;}
        </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">


    </head>
    <body>
    <header>
        <div class="container">
            <div class="row">

                <div class="col-lg-4">
                    <a href="{{path('homepage')}}"> <img src="{{ asset('img/logoFishblock.jpg')}}" style="width:100%"  /></a>
                </div>

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                <div class="col-lg-offset-2 col-lg-2 ">
                    <button class="notifButton" type="button">
                    <span class="glyphicon glyphicon-bell"></span>
                      Notification <span class="badge">4</span>
                    </button>
                </div>

                <div class="col-lg-2">
                    <p class="text-right "><button type="button" class="deconnexion"> <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}  </button> </a>
                     </p> <br>
                    <p class="text-right username">{{app.user.firstname}} {{ app.user.lastname }}</p> 

                </div>

                <div class="col-lg-2">
                    <a href="{{ path ('fos_user_profile_show') }}"><img class="thumbnail" src="{{ asset('img/jp.jpg')}}" style="width: 70%" class="pull-right"></a>

                </div>

                {% else %}
                    <div class="col-lg-offset-6 col-lg-2">
                        <button class="connexion pull-right glyphicon glyphicon-user" style="color: white;"> <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> </button>
                    </div>
                {% endif %}

            </div>


            <div class="row">
                <div class="col-lg-offset-8 col-lg-4">
                   <form class="navbar-form navbar-right inline-form" role="search">
                        <div class="form-group">
                            <span class="glyphicon glyphicon-search"></span>
                            <input type="text" class="form-control" placeholder="Recherche">
                        </div>
                        <button type="submit" class="btn btn-default">Go</button>
                    </form>
                </div>
            </div>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <nav class="navbar navbar-default" id="menu">
              <div class="container-fluid">
                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li> <a href="{{path('homepage')}}" class="accueil">ACCUEIL</a> </li>
                    <li><a href="{{ path ('serie')}}" class="series">SERIES </a></li>
                    <li><a href="https://node-chat-fil-rouge.herokuapp.com/" class="forum">CHAT</a></li>
                    <li><a href="{{ path ('fos_user_profile_show') }}" class="profil"> MON ACTIVITÉ </a></li>
                    <li><a href="#" class="admin">ESPACE ADMIN</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
            {%else%}
             <nav class="navbar navbar-default" id="menu">
              <div class="container-fluid">
                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li> <a href="{{path('homepage')}}" class="accueil">ACCUEIL</a> </li>
                    <li><a href="{{ path ('serie')}}" class="series">SERIES </a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
            {%endif%}
        </div>
    </header>


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#">Mentions légales</a>
                    <a href="#">Contact</a>
                    
                </div>
            </div>
        </div>
    </footer>
    </body>
</html>
