{% extends '::base.html.twig' %}

{% block body %}
    <style>
     .serie .thumbnail{
         width:100%;
         object-fit: cover;
     }
    </style>

    <div class="container serie">
        <h1>{{ serie.name }}</h1>

          <div class="row">
            <div class="col-lg-3">
                <img class="thumbnail" alt="{{ serie.image.alt }}" src="/YATVDB/web/{{ serie.image.url }}" style="height:300px"/>
            </div>
            <div class="col-lg-5">
                <span class="libelle"> Titre: </span> <span> {{serie.name}} </span> <br> <br>
                <span class="libelle"> Date de sortie: </span> <span> {{ serie.releaseDate | date('d/m/Y') }} </span> <br> <br>
                <span class="libelle"> Nombre de saisons: </span> <span> {{ serie.seasons|length }} </span> <br> <br>
                <span class="libelle"> Genre: </span><span> {{serie.category.name}} </span> <br> <br>
                <p class="libelle"> Résumé: </p> <p>  {{serie.resume}} </p>
            </div>
            <div class="col-lg-4">
                <a class="btn-updateSerie btn pull-right" href="{{path('serie_edit', {'id': serie.id})}}">
                    <i class="glyphicon glyphicon-scissors"></i> Je souhaite modifier cette série
                </a> <br>
                <a class="btn-deleteSerie btn pull-right" href="{{path('serie_delete', {'id':serie.id})}}">
                    <i class="glyphicon glyphicon-trash"></i> Je souhaite supprimer cette série
                </a> <br>

                <a href="{{path('serie_addSeason', {'name': serie.name})}}" class="btn-addSeason btn pull-right">
                    <i class="glyphicon glyphicon-plus"> </i> Ajouter une saison
                </a> 
            </div>
        </div>
        {% if is_granted ('IS_AUTHENTICATED_REMEMBERED') %}
            {{ form(serieCommentForm) }}
        {% endif %}

        <h3> Derniers commentaires </h3>

        {%for comment in serie.comments|slice(0,3) %}
            <div class="row">
                <div class="col-lg-1">
                    <img src="{{comment.user.profilePicture.url | default(asset('img/avatar.jpg'))}}"
                         style="width:100%"/>
                </div>
                <div class="col-lg-11">
                    <span> Par <a href="{{ path('fos_user_profile_show', {'username': comment.user.username}) }}">
                        {{comment.user.firstName}} {{comment.user.lastName}}
                    </a>
                    , le {{comment.createdAt| date('d/m/Y') }}</span>
                    <p> {{comment.content}} </p>
                </div>
            </div>
        {% else%}
            <p> Soyez le premier à commenter cette série! </p>
        {%endfor%}

    </div>

    <div class="container serie">
            <div class="row">
                {% for season in serie.seasons %}
                    <div class="col-lg-12">
                        <h4> Saison n°{{season.seasonNumber}} </h4>
                        <span class="detailSaison"> Date de sortie: {{season.diffusionDate | date('d/m/Y')}} </span> <br>
                        <span class="detailSaison"> Nombres d'épisodes: {{season.episodes|length}} </span>
                        <p class="detailSaison"> Résumé: <br> {{season.resume}} </p>
                    </div>
                    {% for episode in season.episodes%}
                        <div class="col-lg-2">
                            <a href="#">
                                <img src="{{asset(episode.image.url|default('img/iconPaysage.png'))}}"
                                     alt="{{episode.image.alt|default('')}}"
                                     class="img-responsive">
                            </a>
                            <span>épisode n°{{episode.episodeNumber}}</span>
                        </div>

                    {%endfor%}
                {%endfor%}
            </div>
            <div class="row">
                <a class="btn retour" href="{{ path('serie_showCategories')}}">
                    <i class="glyphicon glyphicon-chevron-left"></i> Retour à la liste des genres
                </a>
            </div>
    </div>



{% endblock %}
