{% extends '::base.html.twig' %}

{% block body %}

    <h1>{{ category.name }}</h1>

    <table class="record_properties">
        <tbody>
                {%for serie in category.series%}
                <tr>
                    <td><h2>{{ serie.name }}</h2></td>
                </tr>
                <tr>
                    <td><img src="{{asset('/YATVDB/web/img/'~serie.image.url|default(''))}}" alt="{{serie.image.alt|default('')}}" style="width:30%"/></td>
                </tr>
                <tr>
                    <td><button>S'abonner</button></td>
                </tr>
                
                {%endfor%}
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('serie_show', {'id': category.id}) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

