{% extends '::base.html.twig' %}

{% block body %}

<div class="container">
 
            <div class="row">

                <div class="col-lg-4 invitSerie thumbnail">
                    <h1> {{ category.name }} </h1>
                    <button> Ajouter une série </button>
                </div>

                {%for serie in category.series%}

                <div class="col-lg-4 serieList">
                    <h2>{{ serie.name }}</h2> <br>
                    <img src="{{asset(serie.image.url|default(''))}}" alt="{{serie.image.alt|default('')}}" class="thumbnail"/> <br>
                    <div class="row">
                        <div class="col-lg-7">
                            <button class="btn pull-right favoris">
                             <span class="glyphicon glyphicon-heart" aria-hidden="true"> </span>  Ajouter à mes favoris </button>
                        </div>
                        <div class="col-lg-5 ">
                            <button class="btn pull-left delete"> <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>   Supprimer</button>
                        </div>
                    </div>
                    
                </div>

                {%endfor%}

        <ul class="record_actions">
    <li>
        <a class="btn pull-left retour" href="{{ path('serie_showCategory')}}">
        <span class="glyphicon glyphicon-chevron-left"></span>
            Back to the list
        </a>
    </li>
</ul>

            </div>
</div>

{% endblock %}

