{% extends '::base.html.twig' %}

{% block title %}
{{'Mentions légales'|trans}}
{% endblock %}

{% block body %}

<div class="container">

            <div class="row">

                <div class="col-lg-12">

                    <h1 class="titrementionslegales">1 {{'Le site'|trans}}</h1>
                    <p>

{{'Le site web FishBlock.fr offre à ses membres la possibilité de suivre leurs séries favorites. Ils peuvent émettre des commentaires, attribuer des notes, créer des séries, et communiquer dans le cadre d’un chat.'|trans}}
					</p>
                    <h1 class="titrementionslegales">2 {{'L’éditeur du site'|trans}}</h1>
                    <p>
{{'Le site web FishBlock.fr est édité par la'|trans}} SARL Gjdhaovdbajiv, 7 rue des brochets 44000 Nantes, {{'au capital social de 7 000 000 $.'|trans}}
{{'Directeur de la publication'|trans}} : Monsieur Régis Robert. contact@fishblock.fr
					</p>
                    <h1 class="titrementionslegales">3 {{'Hébergeur du site'|trans}}</h1>
                    <p>
OVH
{{'SAS au capital de 10 000 000 €'|trans}}
RCS Lille Métropole 424 761 419 00045
{{'Siège social'|trans}} : 2 rue Kellermann - 59100 Roubaix - France
					</p>
                    <h1 class="titrementionslegales">4 {{'Données personnelles et cookies'|trans}}</h1>
                    <p>
{{'Le site web FishBlock.fr fait l’objet d’une déclaration à la CNIL (Commission Nationale de l’Informatique et des Libertés).'|trans}}
{{'Conformément à la loi n° 78-17 du 6 janvier 1978 modifiée, relative à l’informatique, aux fichiers et aux libertés, vous disposez d’un droit d’accès, de modification, de rectification et de suppression, pour toute information vous concernant en vous adressant à'|trans}} contact@fishblock.fr.
{{'Afin de faciliter l’utilisation des informations, l’utilisateur est informé que FishBlock utilise des cookies. Tout utilisateur a la faculté de s’y opposer en désactivant l’option dans les paramètres de son terminal prévu à cet effet'|trans}}.
					</p>
                    <h1 class="titrementionslegales">5 {{'Propriété intellectuelle'|trans}}</h1>
                    <p>
5.a {{'FishBlock est un nom de marque déposé auprès de l’INPI sous le numéro 55824525. Toute utilisation du nom FishBlock sans accord explicite sera punie. Toute reproduction totale ou partielle de cette marque est prohibée'|trans}}.</p><p>
5.b {{'Le membre concède au Site une licence gratuite, non exclusive et sous-licenciable quant à l’utilisation, la modification, l’affichage public, la reproduction et la distribution sur le site et sur tous médias des publications qu’il effectue sur le site. Cette licence prend fin au moment où le membre supprime son contenu du site'|trans}}.</p><p>
5.c {{'Toute reproduction, représentation, publication, transmission, utilisation ou modification, intégrale ou partielle du site et/ou d’un ou de ses contenus, faite sans l’autorisation écrite de FishBlock est illicite. Ces actes illicites engagent votre responsabilité et sont susceptibles d’entraîner des poursuites judiciaires à votre encontre et notamment pour contrefaçon'|trans}}.
{{'De même, FishBlock est producteur des bases de données du site FishBlock.fr. En conséquence, toute extraction et/ou réutilisation de la ou des bases de données au sens des articles L 342-1 et L 342-2 du code de la propriété intellectuelle est interdite'|trans}}.
                    </p>

                </div>

            </div>

        <button class="btn pull-left retour"><span class="glyphicon glyphicon-chevron-left"></span> 
        <a href="{{ path('serie_showCategories') }}">{{'Retour à la liste des séries'|trans}}</a> </button>

</div>
{% endblock %}
