{% extends '::base.html.twig' %}

{% block body %}

<div class="container serieListe">
 
    <div class="row">

        <div class="col-lg-4 invitSerie thumbnail">
            <h1> {{ category.name }} </h1>
            <a class="btn addSerie" href="{{path('serie_addSerie')}}"> <span class="glyphicon glyphicon-plus-sign"> </span> <br> Ajouter <br> une série  </a>
        </div>


        {%for serie in category.series%}

        <div class="col-lg-4 serieList">
            <h2>{{ serie.name }}</h2> <br>
            <div class="seriePicture">
                <a href="{{ path('serie_detail', {'name':serie.name}) }}">
                <img src="{{asset(serie.image.url|default(''))}}" alt="{{serie.image.alt|default('')}}" class="thumbnail" style="height:540px;"/> <br>
                </a>
            </div>

            

        </div>
        {%endfor%}  

    </div>
   
        <a class="btn retour" href="{{ path('serie_showCategories')}}">
            <span class="glyphicon glyphicon-chevron-left"></span> Retour
        </a> 

</div>

{% endblock %}

