{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container genre">
            <div class="row">
                <div class="col-lg-4 category">
                    <h1>{{'LES GENRES'|trans}}</h1>
                    <span> {{'Vous êtes'|trans}} </span> <span class="keyWord"> fan </span>
                    <span> {{'de Séries? Vous vous intéressez à un genre en particulier?'|trans}} </span>
                    <span class="keyWord"> {{'Cliquez'|trans}} </span>
                    <span> {{'dessus pour découvir toutes les séries liées à ce genre!'|trans}} </span>
                </div>

                {% for category in categories %}
                    <div class="col-lg-4 genrePicture">
                        <a href="{{ path('serie_showCategory', { 'name': category.name }) }}">
                            <div class="category-thumb {{ category.name|slice(0,1) }}">
                                {{ category.name }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
                
            </div> 
        <p> {{'Vous adorez une série, mais vous ne la trouvez pas sur FishBlock ? Vous pouvez dès maintenant l’ajouter à notre sélection !'|trans}} </p>
    </div>
        {% endblock %}
